<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add assignments</title>
</head>
<body>
<form action="{{ url_for('add_assignment') }}" method="POST">
        <label>Course code</label>
        <input name="course-code" type="text">
        <label>Course title</label>
        <input name="course-title" type="text">
        <label>deadline</label>
        <input name="deadline" type="text">
        <label>lecturer</label>
        <input name="lecturer" type="text">
        <label>Lecture Venue</label>
        <input name="venue" type="text">
        <label>time</label>
        <input name="time" type="text">
        <button type="submit">Create Event</button>
    </form>
</body>
</html>