<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your dashboard</title>
</head>
<body>

<!--USER'S INFO-->
<h1>{{ current_user.name }}!</h1>
<h3>Dept {{ current_user.department }}</h3>
<h3>Faculty {{ current_user.faculty }}</h3>
<h3>Level {{ current_user.level }}</h3>


<!--FOR ADMIN ONLY TO CREATE EVENT WITH CONDITION SO THAT ONLY ADMINS SEE THE LINK-->
<!--You'll probably use this later-->
{% if current_user.class_rep.lower() == 'yes': %}
<a href="{{url_for('add_class') }}">Add Class to Schedule</a>
<a href="{{url_for('add_test') }}">Add Test to Schedule</a>
<a href="{{url_for('add_presentation') }}">Add Presentation to Schedule</a>
<a href="{{url_for('add_assignment') }}">Add Assignment to Schedule</a>
{% endif %}


<!--FOR THE UPCOMING TASKS: TESTS, ASSIGNMENTS, AND PRESENTATIONS-->
<h2>Upcoming Tasks</h2>
<!--TESTS-->
{% for test in all_tests: %}
{% if test.institution.lower() ==current_user.institution.lower() and test.level ==current_user.level and
test.department.lower() ==current_user.department.lower() : %}

<h4>{{ test.date }} {{ test.course_code }} {{ test.course_title }} {{ test.lecturer }}</h4>

{% endif %}
{% endfor %}
<!--ASSIGNMENTS-->
{% for assignment in all_assignments: %}
{% if assignment.institution.lower() ==current_user.institution.lower() and assignment.level ==current_user.level and
assignment.department.lower() ==current_user.department.lower() : %}

<h4>{{ assignment.date }} {{ assignment.course_code }} {{ assignment.course_title }} {{ assignment.lecturer }}</h4>


{% endif %}
{% endfor %}
<!--PRESENTATIONS-->
{% for presentation in all_presentations: %}
{% if presentation.institution.lower() ==current_user.institution.lower() and presentation.level ==current_user.level and
presentation.department.lower() ==current_user.department.lower() : %}

<h4>{{ presentation.date }} {{ presentation.course_code }} {{ presentation.course_title }} {{ presentation.lecturer }}</h4>


{% endif %}
{% endfor %}

<!--FOR UPCOMING CLASSES-->
<h2>Classes</h2>
{% for class in all_classes: %}
{% if class.institution.lower() ==current_user.institution.lower() and class.level ==current_user.level and
class.department.lower() ==current_user.department.lower() : %}

<h4>{{ class.course_code }}</h4>
<h4>{{ class.venue }}</h4>
<h4>{{ class.start_time }} to {{ class.stop_time }}</h4>

{% endif %}
{% endfor %}




</body>
</html>