<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add presentation</title>
</head>
<body>
<form action="{{ url_for('add_presentation') }}" method="POST">
        <label>Course code</label>
        <input name="course-code" type="text">
        <label>Course title</label>
        <input name="course-title" type="text">
        <label>date</label>
        <input name="date" type="text">
        <label>lecturer</label>
        <input name="lecturer" type="text">
        <label>Lecture Venue</label>
        <input name="venue" type="text">
        <label>start time</label>
        <input name="start" type="text">
        <label>stop time</label>
        <input name="stop" type="text">
        <button type="submit">Create Event</button>
    </form>
</body>
</html>