<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h3>{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
</h3>
<form action="{{ url_for('register') }}" method="POST">
        <label>Name</label>
        <input name="name" type="text">
        <label>Email</label>
        <input name="email" type="text">
        <label>Password</label>
        <input name="password" type="text">
        <label>Level</label>
        <input name="level" type="text">
        <label>Department</label>
        <input name="department" type="text">
        <label>Faculty</label>
        <input name="faculty" type="text">
        <label>Institution</label>
        <input name="institution" type="text">
        <label>Classrep</label>
        <input name="class-rep" type="text">
        <button type="submit">Sign up</button>
    </form>
</body>
</html>